<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{shared/ui/basics :: basicHead (title='New team')}">
    <body>
    <nav th:replace="~{shared/ui/basics :: navbar}"></nav>
        <div class="card border-secondary position-absolute top-50 start-50 translate-middle" style="width: 400px">
            <div class="card-header bg-primary rounded-top"></div>
            <form method="POST" class="card-body" th:object="${newTeamForm}">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <div class="form-outline mb-4">
                <label class="form-label">Название команды:</label>
                <input class="form-control" type="text" th:field="*{name}" />
                <span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Team name error</span>
                </div>

                <div class="row justify-content-center">
                    <input type="submit" class="btn btn-primary w-50  mb-4" value="Создать команду"/>
                </div>
            </form>
        </div>
    <div th:replace="~{shared/ui/basics :: alerts}"></div>
    </body>
</html>
