<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{shared/ui/basics :: basicHead (title=${user.username} , css = 'profile.css', js='profile.js')}">
    <body>
    <nav th:replace="~{shared/ui/basics :: navbar}"></nav>
        <div id="userBox" class="p-3">
            <div class="container">
            <ul class="list-inline ">
                <li class="list-inline-item"><a th:href="@{${'/profile/' + user.username}}" th:text="${user.username}"></a></li>
                <li class="list-inline-item"><a th:href="@{${'/teams/with/' + user.username}}" th:text="Команды"></a></li>
                <li th:if="${loged}" class="list-inline-item"><a th:href="@{${'/profile/' + user.username}}" th:text="Настройки"></a></li>
            </ul>
            </div>
            <div id="userData" class="container d-flex align-items-center justify-content-center" th:object="${user}">
                <div id="userInfo" class="col-6">
                    <label th:text="*{username}">Username</label><br/>
                    <label th:text="*{firstName + ' ' + secondName}">FIO</label><br/>
                    <label th:text="*{email}">Email</label>
                </div>
                <div id="profilePicture" class='container col-auto align-content-center'>
                    <img class="row" id="img" th:src="@{*{'/img/profiles/' + getProfileImg()}}"/>
                    <div class="container" th:if="${loged}">
                        <div class="row">
                        <a class="btn btn-link col" id="change-title-photo"  href="javascript:void(0);">Заменить фото</a>
                        <form th:unless="${user.profileImg == 'unnamed.jpg'}" class="col" id="drop-title-photo-form" th:action="@{${ '/profile/' + user.username + '/dropProfileImg'}}" method="POST">
                            <input type="submit" class="btn btn-link" value="Сбросить фото"/>
                        </form>
                        <form id="change-title-photo-form" th:action="@{${ '/profile/' + user.username + '/changeProfileImg'}}" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            <input type="file" name="file" accept=".png,.jpg" id="file-upload"/><br/>
                            <input type="submit" value="Подтвердить"/>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div th:replace="~{shared/ui/basics :: alerts}"></div>
    </body>
</html>
