<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/basics :: basicHead (title='Home' ,js = 'home.js')}">
    <body>
    <nav th:replace="~{fragments/basics :: navbar}"></nav>

        <div class="container-fluid">
            <div class="row py-3">

                <div class="col py-3">
                    <div th:each="conference : ${recentConferences}">
                        <div class="card mb-3">
                            <div class="card-body">
                                <a th:href="@{'/contests/view/'+${conference.getId()}}"><h5 class="card-title" th:text="${conference.name}"></h5></a>
                                <p class="card-text" th:text="${conference.description}"></p>
                                <div style="width: 300px; --bs-bg-opacity: .85;" class="text-white  rounded text-center"
                                     th:classappend="${conference.registrationClosing.isBefore(currentDateTime)} ? 'bg-danger' : 'bg-success' ">
                                    <small class="text-white" th:text="${conference.registrationClosing.isBefore(currentDateTime)} ? 'Регистрация закрылась:' : 'Регистрация открыта до:'"> Закрытие регистрации:</small>
                                    <label class="text-white" th:text="${conference.registrationClosing.toLocalDate()}"></label>
                                    <label class="text-white" th:text="${conference.registrationClosing.toLocalTime()}"></label>
                                </div>
                            </div>
                            <img height="200px" th:src="@{/img/content/Blue_20Poly1.png}" class="card-img-bottom" alt="...">
                        </div>
                    </div>
                </div>
                <div class="h-25 py-3 col-md-3 col-xl-2 px-sm-2 px-0 bg-light d-grid gap-3 ">
                    <div class="container input p-2 card" >
                        <div class="container">
                            <label class="col">Найти пользователя</label>
                        </div>
                        <div class="container row card-body">
                        <form id="userSearchForm" method="GET" th:action="@{/profile/}">
                            <div class="form-group  mb-3">
                             <input  id="w-input-search"  type="text" class="col-9"/><div id="ex"></div>
                                <div class="input-append align-items-sm-start container col-auto"></div>
                            </div>
                        <button class="btn btn-outline-primary p-2 col-auto" type="submit">Найти</button>
                        </form>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    <div  th:replace="~{fragments/basics :: alerts}"></div>
    </body>
</html>

<style>
    .input-append {
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        max-height: 150px;

    }
</style>
