<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/basics :: basicHead (title='Teams with - ' + ${user.username})}">

<body>
<nav th:replace="~{fragments/basics :: navbar}"></nav>
<div id="userBox" class="p-3">
    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item"><a th:href="@{${'/profile/' + user.username}}" th:text="${user.username}"></a>
            </li>
            <li class="list-inline-item"><a th:href="@{${'/teams/with/' + user.username}}" th:text="Команды"></a></li>
            <li th:if="${user.getUsername().equals(currentUserInfo.getUsername())}" class="list-inline-item"><a
                    th:href="@{${'/profile/' + user.username}}" th:text="Настройки"></a></li>
        </ul>
    </div>
    <div id="TeamsData" class="container align-items-center justify-content-center border border-black"
         th:object="${user}">
        <div th:if="${user.getUsername().equals(currentUserInfo.getUsername())}" class="row col">
            <a th:href="@{/teams/new}">Создать команду</a>
        </div>

        <table th:unless="${teamsList.isEmpty()}" class="container">
            <tr class="row  align-items-center border border-black">
                <td class="col">Название команды</td>
                <td class="col">Активный состав</td>
                <td class="col" th:if="${user.getUsername().equals(currentUserInfo.getUsername())}">Неактивный состав
                </td>
            </tr>
            <tr th:each="team : ${teamsList}" class="row border border-black  align-items-center">
                <td class="col"><a th:text="${team.name}" th:href="@{${'/teams/view/' + team.id }}"/></td>
                <td class="col ">
                    <div th:each="teammate : ${team.userInTeam}">
                        <div th:if="${teammate.isActive}" class="align-items-center justify-content-center row">
                            <div class="col">
                                <img class="img-thumbnail" th:src="@{${'/img/profiles/' + teammate.user.getProfileImg()}}"/>
                            </div>
                            <div class="col text-start">
                                <a th:href="@{${'/profile/' + teammate.user.username }}" th:text="${teammate.user.username}"/>
                            </div>
                        </div>
                    </div>
                </td>
                <td th:if="${user.getUsername().equals(currentUserInfo.getUsername())}" class="col">
                    <div th:each="teammate : ${team.userInTeam}">
                        <div th:unless="${teammate.isActive}" class="align-items-center justify-content-center row">
                            <div class="col"><img class="img-thumbnail"
                                                  th:src="@{${'/img/profiles/' + teammate.user.getProfileImg()}}"/>
                            </div>
                            <div class="col"><a th:href="@{${'/profile/' + teammate.user.username }}"
                                                th:text="${teammate.user.username}" class=""/></div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>
<div th:replace="~{fragments/basics :: alerts}"></div>
</body>
</html>
<style>
    .img-thumbnail {
        display: flex;
        object-fit: cover;
        max-width: 200px;
        max-height: 200px;
    }
</style>

